In [30]:
x = 2
y = 1
z = 1
n = 1

[[i, j, k] for i in range(x+1) for j in range(y+1) for k in range(z+1) if i+j+k != n]

[[0, 0, 0],
 [0, 1, 1],
 [1, 0, 1],
 [1, 1, 0],
 [1, 1, 1],
 [2, 0, 0],
 [2, 0, 1],
 [2, 1, 0],
 [2, 1, 1]]

In [49]:
n = 4
arr = [0, -3, 10, 2, 10]

sorted(list(set(arr)))[-2]

2

In [99]:
students = [['Nina', 37.2], 
            ['Harry', 37.21], 
            ['Berry', 37.21], 
            ['Tina', 37.2], 
            ['Akriti', 41], 
            ['Harsh', 39], 
            ['Terry', 37.21]]

for student, grade in students:
    print(student)
    print(grade)

Nina
37.2
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Terry
37.21

In [103]:
mark = sorted(set(map(lambda x: x[1], students)))[1]

In [107]:
for name, grade in sorted(filter(lambda x: x[1] == mark, students)):
    print(name)

Berry
Harry
Terry

In [108]:
student_marks = {'Krishna': [67, 68, 69], 'Arjun': [70, 98, 63], 'Malika': [52, 56, 60]}
student_marks

{'Krishna': [67, 68, 69], 'Arjun': [70, 98, 63], 'Malika': [52, 56, 60]}

In [124]:
query_name = 'Malika'

In [127]:
student_list = list(student_marks[query_name]) 
student_average = sum(student_list)/len(student_list)
print("{:.2f}".format(student_average))

56.00

In [138]:
N = int(input())

12

In [139]:
commands = []

for i in range(N):
    commands.append(input().split(' '))

insert 0 5
insert 1 10
insert 0 6
print
remove 6
append 9
append 1
sort
print
pop
reverse
print

In [140]:
commands

[['insert', '0', '5'],
 ['insert', '1', '10'],
 ['insert', '0', '6'],
 ['print'],
 ['remove', '6'],
 ['append', '9'],
 ['append', '1'],
 ['sort'],
 ['print'],
 ['pop'],
 ['reverse'],
 ['print']]

In [141]:
final_list = []

for command in commands:
    if command[0] == 'insert':
        final_list.insert(int(command[1]), int(command[2]))
    elif command[0] == 'remove':
        final_list.remove(int(command[1]))
    elif command[0] == 'append':
        final_list.append(int(command[1]))
    elif command[0] == 'sort':
        final_list.sort()
    elif command[0] == 'pop':
        final_list.pop()
    elif command[0] == 'reverse':
        final_list.reverse()
    elif command[0] == 'print':
        print(final_list)

[6, 5, 10]
[1, 5, 9, 10]
[9, 5, 1]

In [142]:
n = int(input())

2

In [149]:
integer_list = map(int, input().split())

1 2

In [150]:
tuple(integer_list)

(1, 2)

In [151]:
hash(tuple(integer_list))

5740354900026072187

In [152]:
s = 'HackerRank.com presents "Pythonist 2".'

In [156]:
s_prime = "".join([c.lower() if c.isupper()==True else c.upper() for c in s])

In [157]:
s_prime

'hACKERrANK.COM PRESENTS "pYTHONIST 2".'

In [158]:
s = 'this is a string'

In [159]:
s = s.split(" ")

In [160]:
s

['this', 'is', 'a', 'string']

In [161]:
s = "-".join(s)

In [162]:
s

'this-is-a-string'

In [165]:
first = 'Mahni'
last = 'Shayganfar'

print(f'Hello {first} {last}! You just delved into python.')

Hello Mahni Shayganfar! You just delved into python.

In [166]:
def mutate_string(string, position, character):
    l = list(string)
    l[position] = character
    return ''.join(l)

s = 'thisisastring'
mutate_string(s, 2, 'K')

'thKsisastring'

In [168]:
s = 'this is a test for is!'
sub = 'is'

In [169]:
[i for i in range(len(s)) if s.startswith(sub, i)]

[2, 5, 19]

In [ ]:
In the first line, print True if  has any alphanumeric characters. Otherwise, print False. 
In the second line, print True if  has any alphabetical characters. Otherwise, print False. 
In the third line, print True if  has any digits. Otherwise, print False. 
In the fourth line, print True if  has any lowercase characters. Otherwise, print False. 
In the fifth line, print True if  has any uppercase characters. Otherwise, print False.

In [177]:
s = '+++'

flag = True
for c in s:
    if c.isalnum() == True:
        print(True)
        flag = False
        break
if flag == True:
    print(False)
flag = True
for c in s:
    if c.isalpha() == True:
        print(True)
        flag = False
        break
if flag == True:
    print(False)
flag = True
for c in s:
    if c.isdigit() == True:
        print(True)
        flag = False
        break
if flag == True:
    print(False)
flag = True
for c in s:
    if c.islower() == True:
        print(True)
        flag = False
        break
if flag == True:
    print(False)
flag = True
for c in s:
    if c.isupper() == True:
        print(True)
        flag = False
        break
if flag == True:
    print(False)

False
False
False
False
False

In [178]:
width = 20
print('HackerRank'.rjust(width,'-'))

----------HackerRank

In [179]:
thickness = int(input()) #This must be an odd number
c = 'H'

5

In [210]:
#Top Cone
for i in range(thickness):
    print((c*i).rjust(thickness-1)+c+(c*i).ljust(thickness-1))
    
#Top Pillars
for i in range(thickness+1):
    print((c*thickness).center(thickness*2)+(c*thickness).center(thickness*6))
    
#Middle Belt
for i in range((thickness+1)//2):
    print((c*thickness*5).center(thickness*6))
    
#Bottom Pillars
for i in range(thickness+1):
    print((c*thickness).center(thickness*2)+(c*thickness).center(thickness*6))    

#Bottom Cone
for i in range(thickness):
    print(((c*(thickness-i-1)).rjust(thickness)+c+(c*(thickness-i-1)).ljust(thickness)).rjust(thickness*6))

    H
   HHH
  HHHHH
 HHHHHHH
HHHHHHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
                    HHHHHHHHH
                     HHHHHHH
                      HHHHH
                       HHH
                        H

In [211]:
s = 'ABCDEFGHIJKLIMNOQRSTUVWXYZ'
w = 4

In [214]:
chars = list(s)
chars

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'I',
 'M',
 'N',
 'O',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [226]:
final_str = ''.join([chars[i-1]+'\n' if i%w == 0 else chars[i-1] for i in range(1, len(chars)+1)])
print(final_str)

ABCD
EFGH
IJKL
IMNO
QRST
UVWX
YZ

In [ ]:
# ------------.|.------------
# ---------.|..|..|.---------
# ------.|..|..|..|..|.------
# ---.|..|..|..|..|..|..|.---
# ----------WELCOME----------
# ---.|..|..|..|..|..|..|.---
# ------.|..|..|..|..|.------
# ---------.|..|..|.---------
# ------------.|.------------

In [229]:
dm = list(map(int, input().rstrip().split()))

13 39

In [230]:
n=dm[0]
m=dm[1]
t=(m-7)//2
k=(n//2)+1
for i in range (1, n+1):
    if i==k:        
        print('-'*t+'WELCOME'+'-'*t)
    elif(i<k):
        print('---'*(k-i)+('.|.'*(i))+('.|.'*(i-1))+('---'*(k-i)))
    else:
        print(('---'*(i-k))+('.|.'*(n-i+1))+('.|.'*(n-i))+('---'*(i-k)))

------------------.|.------------------
---------------.|..|..|.---------------
------------.|..|..|..|..|.------------
---------.|..|..|..|..|..|..|.---------
------.|..|..|..|..|..|..|..|..|.------
---.|..|..|..|..|..|..|..|..|..|..|.---
----------------WELCOME----------------
---.|..|..|..|..|..|..|..|..|..|..|.---
------.|..|..|..|..|..|..|..|..|.------
---------.|..|..|..|..|..|..|.---------
------------.|..|..|..|..|.------------
---------------.|..|..|.---------------
------------------.|.------------------

In [274]:
number=17

for i in range(1, n+1):
    print(f'{i}'.rjust(4) + f'{oct(i)[2:]}'.rjust(4) + f'{hex(i)[2:].upper()}'.rjust(4) + f'{bin(i)[2:]}'.rjust(4))

   1   1   1   1
   2   2   2  10
   3   3   3  11
   4   4   4 100
   5   5   5 101
   6   6   6 110
   7   7   7 111
   8  10   81000
   9  11   91001
  10  12   A1010
  11  13   B1011
  12  14   C1100
  13  15   D1101
  14  16   E1110
  15  17   F1111
  16  20  1010000
  17  21  1110001

In [275]:
number=17

width = len("{0:b}".format(number))

for i in range(1, number + 1):
    print("{0:{w}d} {0:{w}o} {0:{w}X} {0:{w}b}".format(i, w = width))

    1     1     1     1
    2     2     2    10
    3     3     3    11
    4     4     4   100
    5     5     5   101
    6     6     6   110
    7     7     7   111
    8    10     8  1000
    9    11     9  1001
   10    12     A  1010
   11    13     B  1011
   12    14     C  1100
   13    15     D  1101
   14    16     E  1110
   15    17     F  1111
   16    20    10 10000
   17    21    11 10001

In [279]:
size = 17

alpha = "abcdefghijklmnopqrstuvwxyz"
data = [alpha[i] for i in range(size)]
items = list(range(size))
items = items[:-1]+items[::-1]
for i in items:
    temp = data[-(i+1):]
    row = temp[::-1]+temp[1:]
    print("-".join(row).center(size*4-3, "-"))

--------------------------------q--------------------------------
------------------------------q-p-q------------------------------
----------------------------q-p-o-p-q----------------------------
--------------------------q-p-o-n-o-p-q--------------------------
------------------------q-p-o-n-m-n-o-p-q------------------------
----------------------q-p-o-n-m-l-m-n-o-p-q----------------------
--------------------q-p-o-n-m-l-k-l-m-n-o-p-q--------------------
------------------q-p-o-n-m-l-k-j-k-l-m-n-o-p-q------------------
----------------q-p-o-n-m-l-k-j-i-j-k-l-m-n-o-p-q----------------
--------------q-p-o-n-m-l-k-j-i-h-i-j-k-l-m-n-o-p-q--------------
------------q-p-o-n-m-l-k-j-i-h-g-h-i-j-k-l-m-n-o-p-q------------
----------q-p-o-n-m-l-k-j-i-h-g-f-g-h-i-j-k-l-m-n-o-p-q----------
--------q-p-o-n-m-l-k-j-i-h-g-f-e-f-g-h-i-j-k-l-m-n-o-p-q--------
------q-p-o-n-m-l-k-j-i-h-g-f-e-d-e-f-g-h-i-j-k-l-m-n-o-p-q------
----q-p-o-n-m-l-k-j-i-h-g-f-e-d-c-d-e-f-g-h-i-j-k-l-m-n-o-p-q----
--q-p-o-n-m-l-k-j-i-h-g-f-e-d-c-b-c-d-e-f-g-h-i-j-k-l-m-n-o-p-q--
q-p-o-n-m-l-k-j-i-h-g-f-e-d-c-b-a-b-c-d-e-f-g-h-i-j-k-l-m-n-o-p-q
--q-p-o-n-m-l-k-j-i-h-g-f-e-d-c-b-c-d-e-f-g-h-i-j-k-l-m-n-o-p-q--
----q-p-o-n-m-l-k-j-i-h-g-f-e-d-c-d-e-f-g-h-i-j-k-l-m-n-o-p-q----
------q-p-o-n-m-l-k-j-i-h-g-f-e-d-e-f-g-h-i-j-k-l-m-n-o-p-q------
--------q-p-o-n-m-l-k-j-i-h-g-f-e-f-g-h-i-j-k-l-m-n-o-p-q--------
----------q-p-o-n-m-l-k-j-i-h-g-f-g-h-i-j-k-l-m-n-o-p-q----------
------------q-p-o-n-m-l-k-j-i-h-g-h-i-j-k-l-m-n-o-p-q------------
--------------q-p-o-n-m-l-k-j-i-h-i-j-k-l-m-n-o-p-q--------------
----------------q-p-o-n-m-l-k-j-i-j-k-l-m-n-o-p-q----------------
------------------q-p-o-n-m-l-k-j-k-l-m-n-o-p-q------------------
--------------------q-p-o-n-m-l-k-l-m-n-o-p-q--------------------
----------------------q-p-o-n-m-l-m-n-o-p-q----------------------
------------------------q-p-o-n-m-n-o-p-q------------------------
--------------------------q-p-o-n-o-p-q--------------------------
----------------------------q-p-o-p-q----------------------------
------------------------------q-p-q------------------------------
--------------------------------q--------------------------------

In [327]:
s = '1 a 1 v'
s.split()

['1', 'a', '1', 'v']

In [328]:
#Incorrect
' '.join([name.capitalize() for name in s.split()])

'1 A 1 V'

In [329]:
#Correct
for i in s.split():
    s = s.replace(i, i.capitalize())
s

'1 A 1 V'

In [357]:
string = "BANANA"

In [358]:
vowel = "AEIOU"

sc = 0
kc = 0
x = len(string)

for i in range(x):
    if string[i] in vowel:
        kc += x - i
    else:
        sc += x - i
if sc > kc:
    print("Stuart", str(sc))
elif kc > sc:
    print("Kevin", str(kc))
else:
    print("Draw")

Stuart 12

In [40]:
string = 'AABCAAADA'
k = 3

In [41]:
n = len(string)//k
n

3

In [49]:
i = 0

u = []
while i < len(string):
    s = [c for c in string[i:i+n]]
    sub = []
    for c in s:
        if c not in sub:
            sub.append(c)
    u.append(''.join(sub))
    i += n

for u_i in u:
    print(u_i)

AB
CA
AD

In [51]:
l = len(string)//k
for i in range(l):
    print(dict.fromkeys(string[i*k:(i*k)+k]))
    print(''.join(dict.fromkeys(string[i*k:(i*k)+k])))

{'A': None, 'B': None}
AB
{'C': None, 'A': None}
CA
{'A': None, 'D': None}
AD

In [52]:
A = [1, 2]
B = [3, 4]

In [55]:
[(x,y) for x in A for y in B]

[(1, 3), (1, 4), (2, 3), (2, 4)]

In [56]:
from itertools import product

In [57]:
list1 =list(map(int, input().split()))
list2 =list(map(int, input().split()))

1 2
3 4

In [58]:
flist = list(product(list1, list2))

In [60]:
print(*flist)

(1, 3) (1, 4) (2, 3) (2, 4)

In [61]:
from itertools import permutations

In [88]:
S = input().split()

HACK 2

In [89]:
perm = sorted([''.join(each) for each in list(permutations(S[0], int(S[1])))])

In [90]:
for each in perm:
    print(each)

AC
AH
AK
CA
CH
CK
HA
HC
HK
KA
KC
KH

In [91]:
from itertools import combinations

In [108]:
S, k = input().split()

HACK 2

In [115]:
for i in range(1, int(k)+1):
    for j in combinations(sorted(S), i):
        print(''.join(j))

A
C
H
K
AC
AH
AK
CH
CK
HK

In [116]:
from itertools import combinations_with_replacement

In [117]:
S, k = input().split()

HACK 2

In [120]:
for each in combinations_with_replacement(sorted(S), int(k)):
        print(''.join(each))

AA
AC
AH
AK
CC
CH
CK
HH
HK
KK

In [158]:
S = input()

1222311

In [159]:
i = 0
count = 0
compressed_str = []

while i < len(S):
    ch_tuple = ()
    for j in range(i, len(S)):
        if S[i] == S[j]:
            count += 1
        else:
            break
    
    ch_tuple = (count, int(S[i]))
    compressed_str.append(ch_tuple)
    i += count
    count = 0

print(*compressed_str)

(1, 1) (3, 2) (1, 3) (2, 1)

In [178]:
from itertools import combinations

In [214]:
N = int(input())
char_list = input().split(' ')
K = int(input())

4
a a c d
2

In [215]:
index_char_list = [(i, char_list[i-1]) for i in range(1, len(char_list)+1)]
index_char_list

[(1, 'a'), (2, 'a'), (3, 'c'), (4, 'd')]

In [216]:
index_list = list(combinations(range(1, len(char_list)+1), 2))
index_list

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]

In [217]:
a_indices = [i+1 for i in range(0, len(index_char_list)) if index_char_list[i][1] == 'a']
a_indices

[1, 2]

In [218]:
a_count = 0

for index_tuple in index_list:
    if (index_tuple[0] in a_indices) or (index_tuple[1] in a_indices):
        a_count += 1

print("%.4f" % (a_count/len(index_list)))

0.8333

In [219]:
com = list(combinations(char_list, K))
tol = [i for i in com  if "a" in i ]
print(f'{(len(tol)/len(com)):.4f}')

0.8333

In [220]:
from itertools import combinations

N = int(input())
char_list = input().split(' ')
K = int(input())

index_char_list = [(i, char_list[i-1]) for i in range(1, len(char_list)+1)]

index_list = list(combinations(range(1, len(char_list)+1), 2))

a_indices = [i+1 for i in range(0, len(index_char_list)) if index_char_list[i][1] == 'a']

a_count = 0
for index_tuple in index_list:
    if (index_tuple[0] in a_indices) or (index_tuple[1] in a_indices):
        a_count += 1
            
print("%.4f" % (a_count/len(index_list)))

4
a a c d
2
0.8333

In [ ]:
3 1000
2 5 4
3 7 8 9 
5 5 7 8 9 10

In [11]:
K, M = input().split(' ')

3 1000

In [16]:
line = 0
lists = []
while line < int(K):
    j = 1
    l = input().split(' ')
    each_list = []
    while j <= int(l[0]):
        each_list.append(int(l[j]))
        j += 1
    lists.append(each_list)
    line += 1
lists

2 5 4
3 7 8 9
5 5 7 8 9 10

[[5, 4], [7, 8, 9], [5, 7, 8, 9, 10]]

In [30]:
import itertools

In [33]:
lists = list(itertools.product(*lists))
lists

[(5, 7, 5),
 (5, 7, 7),
 (5, 7, 8),
 (5, 7, 9),
 (5, 7, 10),
 (5, 8, 5),
 (5, 8, 7),
 (5, 8, 8),
 (5, 8, 9),
 (5, 8, 10),
 (5, 9, 5),
 (5, 9, 7),
 (5, 9, 8),
 (5, 9, 9),
 (5, 9, 10),
 (4, 7, 5),
 (4, 7, 7),
 (4, 7, 8),
 (4, 7, 9),
 (4, 7, 10),
 (4, 8, 5),
 (4, 8, 7),
 (4, 8, 8),
 (4, 8, 9),
 (4, 8, 10),
 (4, 9, 5),
 (4, 9, 7),
 (4, 9, 8),
 (4, 9, 9),
 (4, 9, 10)]

In [41]:
square_sums = []

for dyna_list in lists:
    square_sum = 0
    for elm in dyna_list:
        square_sum += elm**2
    square_sums.append(square_sum%int(M))

In [42]:
max(square_sums)

206

In [13]:
X = int(input())
shoe_sizes = input().split(' ')
N = int(input())
i = 0
shoe_size_price = []
for i in range(0, N):
    shoe = input().split(' ')
    shoe_size_price.append(tuple(shoe))

10
2 3 4 5 6 8 7 6 5 18
6
6 55
6 45
6 55
4 40
18 60
10 50

In [21]:
shoe_sizes = [int(x) for x in shoe_sizes]
shoe_sizes

[2, 3, 4, 5, 6, 8, 7, 6, 5, 18]

In [14]:
shoe_size_price = [(int(x[0]), int(x[1])) for x in shoe_size_price]
shoe_size_price

[(6, 55), (6, 45), (6, 55), (4, 40), (18, 60), (10, 50)]

In [29]:
total = 0

for k, v in shoe_size_price:
    if k in shoe_sizes:
        total += v
        shoe_sizes.remove(k)

print(total)

200

In [30]:
import collections

In [31]:
input()
shoes = list(map(int,input().split()))

10
2 3 4 5 6 8 7 6 5 18

In [32]:
shoesCollection = collections.Counter(shoes)
shoesCollection

Counter({2: 1, 3: 1, 4: 1, 5: 2, 6: 2, 8: 1, 7: 1, 18: 1})

In [33]:
sale = 0
for i in range(int(input())):
    s,n = map(int,input().split())
    if shoesCollection[s] > 0:
        sale += n
        shoesCollection[s] -= 1
print(sale)

6
6 55
6 45
6 55
4 40
18 60
10 50
200

In [40]:
from collections import defaultdict

In [94]:
n, m = map(int,input().split())

5 3

In [95]:
d = defaultdict(list)

In [96]:
for i in range(0, n):
    d['A'].append(input())
for i in range(0, m):
    d['B'].append(input())

a
a
b
a
b
a
c
b

In [97]:
indices_list = []
for j, y in enumerate(d['B']):
    index_list = []
    for i, x in enumerate(d['A']):
        if y == x:
            index_list.append(i+1)
    if len(index_list) == 0:
        index_list.append(-1)
    indices_list.append(index_list)

In [98]:
for item in indices_list:
    print(*item)

1 2 4
-1
3 5

In [99]:
from collections import defaultdict
d = defaultdict(list)
n,m = map(int,input().split())
for i in range(1,n+1):
    d[input()].append(i)
for i in range(m):
    temp = input()
    if temp in d:
        print(*d[temp]) 
    else: 
        print(-1)

5 3
a
a
b
a
b
a
1 2 4
c
-1
b
3 5

In [ ]:
from collections import defaultdict

n, m = map(int,input().split())

d = defaultdict(list)

for i in range(0, n):
    d['A'].append(input())
for i in range(0, m):
    d['B'].append(input())
    
indices_list = []
for j, y in enumerate(d['B']):
    index_list = []
    for i, x in enumerate(d['A']):
        if y == x:
            index_list.append(i+1)
    if len(index_list) == 0:
        index_list.append(-1)
    indices_list.append(index_list)
    
for item in indices_list:
    print(*item)

In [100]:
from collections import namedtuple

In [122]:
N = int(input())
titles = input().split(' ')

5
MARKS CLASS NAME ID

In [126]:
# This solution still needs some work.
Student = namedtuple('Student', ' '.join(titles))

marks_sum = 0
for i in range(0, N):
    st = Student(ID = int(input()), MARKS = int(input()), NAME = input(), CLASS = int(input()))
    marks_sum += st.MARKS
    
print(round(marks_sum/N, 2))

92
2
Calum
1
82
5
Scott
2
94
2
Jason
3
55
8
Glenn
4
82
2
Fergus
5
3.8

In [130]:
from collections import namedtuple

n = int(input())
Student = namedtuple('Student', input())

total = 0
for _ in range(n):
    s = Student(*input().split())
    total += int(s.MARKS)

print(f'{total / n:.2f}')

5
MARKS CLASS NAME ID
92 2 Calum 1
82 5 Scott 2
94 2 Jason 3
55 8 Glenn 4
82 2 Fergus 5
81.00

In [131]:
Student

__main__.Student

In [132]:
from collections import OrderedDict

In [157]:
N = int(input())

3

In [156]:
items_dict = OrderedDict()

In [160]:
for i in range(N):
    item_price = input().split(' ')
    items_dict[' '.join(item_price[:-1])] = int(item_price[-1])

s 2
s v 3
s 2

In [161]:
items_dict

OrderedDict([('CANDY', 5), ('APPLE JUICE', 10), ('s', 2), ('s v', 3)])

In [163]:
orders_dict = OrderedDict()
input_ = int(input())
for _ in range(input_):
    item, space, price = input().rpartition(' ')
    orders_dict[item] = orders_dict.get(item, 0) + int(price)
for item, price in orders_dict.items():
    print(item, price)

3
a 50
b 42
a 33
a 83
b 42

In [167]:
orders_dict.get('b', 0)

42

### Word Order

In [168]:
n = int(input())

3

In [179]:
words_dict = OrderedDict()
for _ in range(n):
    word = input()
    if word not in words_dict:
        words_dict[word] = 1
    else:
        words_dict[word] += 1

ali
mahni
mahni

In [180]:
print(len(words_dict))
print(*words_dict.values())

2
1 2

### collections.deque()

In [181]:
from collections import deque

In [184]:
n = int(input())

6

In [185]:
d = deque()
for _ in range(n):
    command = input().split(' ')
    if command[0] == 'append':
        d.append(command[1])
    elif command[0] == 'appendleft':
        d.appendleft(command[1])
    elif command[0] == 'pop':
        d.pop()
    elif command[0] == 'popleft':
        d.popleft()

append 1
append 2
append 3
appendleft 4
pop
popleft

In [187]:
print(*d)

1 2

### Company Logo

In [226]:
from collections import OrderedDict
from itertools import islice

In [208]:
s = input()
s

eaaccdbbdb

'eaaccdbbdb'

In [209]:
chars_dict = OrderedDict()
for char in s:
    if char not in chars_dict:
        chars_dict[char] = 1
    else:
        chars_dict[char] += 1

chars_dict

OrderedDict([('e', 1), ('a', 2), ('c', 2), ('d', 2), ('b', 3)])

In [212]:
sorted_char_dict = OrderedDict(sorted(chars_dict.items(), key=lambda x: x[0]))
sorted_char_dict

OrderedDict([('a', 2), ('b', 3), ('c', 2), ('d', 2), ('e', 1)])

In [233]:
sorted_freq_dict = OrderedDict(sorted(sorted_char_dict.items(), key=lambda x: x[1], reverse=True))
sorted_freq_dict

OrderedDict([('b', 3), ('a', 2), ('c', 2), ('d', 2), ('e', 1)])

In [232]:
for k, v in list(islice(sorted_freq_dict.items(), 3)):
    print(k, v)

b 3
a 2
c 2

### Pilling Up!

In [234]:
from collections import deque

In [235]:
T = int(input())

2

In [249]:
all_cubes = deque()
for _ in range(T):
    n = int(input())
    cubes = deque(map(int, input().split(' ')))
    all_cubes.append(cubes)

6
4 3 2 1 3 4
3
1 3 2

In [310]:
all_cubes = deque([deque([4, 4, 1]), deque([1, 3, 2])])
all_cubes

deque([deque([4, 4, 1]), deque([1, 3, 2])])

In [311]:
for cubes in all_cubes:
    if len(cubes) <= 2:
        print('Yes')
        continue
    
    lower_level = max(cubes[0], cubes[-1])
    
    while len(cubes) > 1:
        if (cubes[0] >= cubes[-1]) and (cubes[0] <= lower_level):
            lower_level = cubes.popleft()
        elif (cubes[0] <= cubes[-1]) and (cubes[-1] <= lower_level):
            lower_level = cubes.pop()
        else:
            print('No')
            break

    if len(cubes) == 1:
        if lower_level >= cubes[0]:
            print('Yes')
        else:
            print('No')
        cubes.pop()

Yes
No

### Polar Coordinates

In [333]:
import cmath

In [353]:
z = complex(input())

1-2j

In [354]:
print(abs(z))
print(cmath.phase(z))

2.23606797749979
-1.1071487177940904

### Find Angle MBC

In [357]:
import math

In [370]:
AB = int(input())
BC = int(input())

10
10

In [375]:
AC = math.sqrt(AB**2+BC**2)
theta = math.acos(BC/AC)
print(int(round(math.degrees(theta), 0)),'\u00B0',sep='')

45

### Tirangle Quest 2

In [377]:
for i in range(1, int(input())+1):
    print(int((10**i-1)/9)**2)

5
1
121
12321
1234321
123454321

### Mod Divmod

In [379]:
a = int(input())
b = int(input())

177
10

In [382]:
print(a//b)
print(a%b)
print(divmod(a, b))

17
7
(17, 7)

### Power - Mod Power

In [385]:
a = int(input())
b = int(input())
m = int(input())

3
4
5

In [386]:
print(pow(a, b))
print(pow(a, b, m))

81
1

### Integers Come In All Sizes

In [388]:
a = int(input())
b = int(input())
c = int(input())
d = int(input())

9
29
7
27

In [389]:
print(a**b+c**d)

4710194409608608369201743232

### Triangle Quest

In [391]:
for i in range(1, int(input())):
    print(i*((10**i-1)//9))

5
1
22
333
4444

### Introduction to Sets

In [392]:
def average(array):
    distinct_heights = set(array)
    if len(distinct_heights) == 0:
        return 0
    else:
        return sum(distinct_heights)/len(distinct_heights)

In [403]:
n = int(input())
arr = list(map(int, input().split()))
print('{:.3f}'.format(average(arr)))

1
0
0.000

### No Idea!

In [421]:
n, m = input().split()

origin_set = input().split()

A = set(input().split())
B = set(input().split())
print(sum([(i in A) - (i in B) for i in origin_set]))

3 2
1 5 3
3 1
5 7
1

### Symmetric Difference

In [436]:
M = int(input())
a = set(map(int, input().split(' ')))
N = int(input())
b = set(map(int, input().split(' ')))

4
2 4 5 9
4
2 4 11 12

In [442]:
result = set()

result.update(a.difference(b))
result.update(b.difference(a))

In [446]:
for each in sorted(list(result)):
    print(each)

5
9
11
12

### Set .add()

In [451]:
stamps = set()
for _ in range(int(input())):
    stamps.add(input())

UK
China
USA
France
New Zealnd
UK
France

In [453]:
print(len(stamps))

5

### Set .discard(), .remove() & .pop()

In [476]:
n = int(input())
s = set(map(int, input().split(' ')))
N = int(input())

9
1 2 3 4 5 6 7 8 9
10

In [455]:
commands = []

for _ in range(N):
    commands.append(input().split(' '))

pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
remove 5
pop
discard 5

In [468]:
commands

[['pop'],
 ['remove', '9'],
 ['discard', '9'],
 ['discard', '8'],
 ['remove', '7'],
 ['pop'],
 ['discard', '6'],
 ['remove', '5'],
 ['pop'],
 ['discard', '5']]

In [477]:
for command in commands:
    if command[0] == 'pop':
        s.pop()
    elif command[0] == 'discard':
        s.discard(int(command[1]))
    elif command[0] == 'remove':
        if int(command[1]) in s:
            s.remove(int(command[1]))

print(sum(s))

4

In [479]:
# Another implementation

n = int(input())
s = set(map(int, input().split()))

for i in range(int(input())):
    s1 = input().split()
    if s1[0] == 'pop':
        s.pop()
    elif s1[0] == 'remove':
        if int(s1[1]) in s:
            s.remove(int(s1[1]))
    elif s1[0] == 'discard':
        s.discard(int(s1[1]))

print(sum(s))

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
remove 5
pop
discard 5
4

### Set .union() Operation

In [481]:
n = int(input())
s = set(map(int, input().split()))

b = int(input())
t = set(map(int, input().split()))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8

In [482]:
print(len(s.union(t)))

13

### Set .intersection() Operation

In [483]:
n = int(input())
s = set(map(int, input().split()))

b = int(input())
t = set(map(int, input().split()))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8

In [484]:
print(len(s.intersection(t)))

5

### Set .difference() Operation

In [485]:
n = int(input())
s = set(map(int, input().split()))

b = int(input())
t = set(map(int, input().split()))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8

In [486]:
print(len(s.difference(t)))

4

### Set .symmetric_difference() Operation

In [487]:
n = int(input())
s = set(map(int, input().split()))

b = int(input())
t = set(map(int, input().split()))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8

In [488]:
print(len(s.symmetric_difference(t)))

8

### Set Mutations

In [489]:
n = int(input())
A = set(map(int, input().split()))
N = int(input())
for _ in range(N):
    op, length = input().split()
    B = set(map(int, input().split()))
    if op == 'intersection_update':
        A.intersection_update(B)
    elif op == 'update':
        A.update(B)
    elif op == 'symmetric_difference_update':
        A.symmetric_difference_update(B)
    elif op == 'difference_update':
        A.difference_update(B)

print(sum(A))

16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
4
intersection_update 10
2 3 5 6 8 9 1 4 7 11
update 2
55 66
symmetric_difference_update 5
22 7 35 62 58
difference_update 7
11 22 35 55 58 62 66
8

### The Captain's Room

In [498]:
K = int(input())
A = list(map(int, input().split()))

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2

In [504]:
for a in set(A):
    if A.count(a) == K:
        A = list(filter((a).__ne__, A))
    else:
        print(a)
        break

8

In [507]:
# Faster version

k = int(input())
rooms = list(map(int, input().split()))

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2

In [508]:
roomSet = set(rooms)
roomSet

{1, 2, 3, 4, 5, 6, 8}

In [509]:
roomSum = sum(rooms)
roomSum

113

In [510]:
roomSetSum = sum(roomSet) * k
roomSetSum

145

In [511]:
captiansRoom = (roomSetSum - roomSum) // (k - 1)

In [512]:
print(captiansRoom)

8

### Check Subset

In [538]:
subsets = []

for _ in range(int(input())):
    A_num = int(input())
    A = set(map(int, input().split(' ')))
    B_num = int(input())
    B = set(map(int, input().split(' ')))
    if len(B.difference(A)) == len(B)-len(A):
        subsets.append(True)
    else:
        subsets.append(False)

3
5
1 2 3 5 6
9
9 8 5 6 3 2 1 4 7
1
2
5
3 6 5 4 1
7
1 2 3 5 6 8 9
3
9 8 2

In [539]:
for subset in subsets:
    print(subset)

True
False
False

### Check Strict Superset

In [541]:
A = set(map(int, input().split()))

for _ in range(int(input())):
    X = set(map(int, input().split()))
    if A.issuperset(X) != True or len(A) == len(X): 
        print(False)
        break 
else: print(True)

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
False

### Calendar Module

In [542]:
import calendar

In [550]:
m, d, y = map(int, input().split(' '))

08 05 2015

In [555]:
print((list(calendar.day_name)[calendar.weekday(y, m, d)]).upper())

WEDNESDAY

### Time Delta

In [559]:
from datetime import datetime

In [556]:
t1 = input()
t2 = input()

Sat 02 May 2015 19:54:36 +0530
Fri 01 May 2015 13:54:36 -0000

In [579]:
date_format = "%a %d %b %Y %H:%M:%S %z"
date1 = datetime.strptime(t1, date_format)
date2 = datetime.strptime(t2, date_format)

In [580]:
time_diff = date1 - date2

In [581]:
str(int(abs(time_diff.total_seconds())))

'88200'

### Exceptions